* {
    margin: 0;
    padding: 0;
}

body,
html {
    overflow: hidden;
}


.abamalogo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    transform: scale(1.2);
}

.abamaitu {
    color: white;
    margin-top: 90px;
    margin-left: 10px;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
}

.ketabama {
    color: white;
    margin-top: 20px;
    margin-left: 10px;
    font-family: 'Roboto Slab', serif;
    text-align: left;
    font-size: 20px;
}

.top-menu2 ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    line-height: 25px;
    font-family: 'Roboto Slab', serif;
    display: flex;
    margin-top: 50px;
    
}

.top-menu2 {
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     display: flex;
     justify-content: right;
     align-items: center;
     margin-top: 480px;
     margin-right: 15px;
}


a.tombolabama.bgabamaa {
    border: 1px #949494 solid;
    border-radius: 10px;
    padding-top: 2px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
}




/* hp */
@media screen and (max-width: 768px){

.abamalogo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    transform: scale(1.2);
}

.abamaitu {
    color: white;
    margin-top: 90px;
    margin-left: 10px;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
}

.ketabama {
    color: white;
    margin-top: 20px;
    margin-left: 18px;
    font-family: 'Roboto Slab', serif;
    text-align: left;
    font-size: 20px;
}

.top-menu2 ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    line-height: 25px;
    font-family: 'Roboto Slab', serif;
    display: flex;
    margin-top: 50px;
    
}

.top-menu2 {
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     display: flex;
     justify-content: right;
     align-items: center;
     margin-top: 480px;
     margin-right: 15px;
}


a.tombolabama.bgabamaa {
    border: 1px #949494 solid;
    border-radius: 10px;
    padding-top: 2px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
}


}

/* tablet */
@media screen and (min-width: 768px){



.abamalogo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    transform: scale(1.4);
}

.abamaitu {
    color: white;
    margin-top: 90px;
    margin-left: 10px;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
}

.ketabama {
    color: white;
    margin-top: 20px;
    margin-left: 20px;
    font-family: 'Roboto Slab', serif;
    text-align: left;
    font-size: 20px;
    margin-right: 200px;
}

.top-menu2 ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    line-height: 25px;
    font-family: 'Roboto Slab', serif;
    display: flex;
    margin-top: 50px;
    
}

.top-menu2 {
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     display: flex;
     justify-content: right;
     align-items: center;
     margin-top: 480px;
     margin-right: 15px;
}


a.tombolabama.bgabamaa {
    border: 1px #949494 solid;
    border-radius: 10px;
    padding-top: 2px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
}


}

/* laptop */
@media screen and (min-width: 1024px) {

.abamalogo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    transform: scale(1.5);
}

.abamaitu {
    color: white;
    margin-top: 100px;
    margin-left: 10px;
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
}

.ketabama {
    color: white;
    margin-top: 20px;
    margin-left: 10px;
   font-family: 'Roboto Slab', serif;
    text-align: left;
    font-size: 25px;
}

.top-menu2 ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    line-height: 25px;
   font-family: 'Roboto Slab', serif;
    display: flex;
    margin-top: 50px;
    
}

.top-menu2 {
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     display: flex;
     justify-content: right;
     align-items: center;
     margin-top: 480px;
     margin-right: 15px;
}


a.tombolabama.bgabamaa {
    border: 1px #949494 solid;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 6px;
    padding-left: 20px;
    padding-right: 20px;
}


}
